<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hashj OAuth Assignment</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        {{{body}}}
    </body>
</html>