
<div class="mainTop">
    <h3 class="centerText">John Hash - Portfolio Assignment - Pet Boarding API</h3>
    <h3 class="centerText">Spring 2020, CS 493 Cloud Dev.</h3>

</div>
<div>
    <p class="centerText">Welcome. Please use the link below to Login with Google.</p>
    <p class="centerText">A user account will be created for you after your credentials are authenticated by Google.</p>

    <div class="centerText">
        <a  href="https://accounts.google.com/o/oauth2/v2/auth?scope={{scope}}&access_type=online&include_granted_scopes=true&response_type=code&state={{state}}&redirect_uri={{redirectURI}}&client_id={{clientID}}">Click Here</a>
    </div>
</div>
