<div class="mainTop">
    <p class="centerText">User Information. <br>First Name: {{firstName}}<br> Last Name: {{lastName}}</p>
    <p class="centerText">You already have a user account.</p>
    <p class="centerText">In order to manage the pets you own and reservations, you must use the TOKEN and ID below.</p>
    
</div>
<div id="jwtBox">
    <p>Your Unique User ID: {{uniqueID}}</p>
    <p>JWT: {{jwt}}</p>
</div>
